
#main-menu {
	background-color: black;
	color: lightyellow;
	border-bottom: solid 2px grey;
	height: 60px;
	font-size: 22px;
	padding: 10px;
	
}


a {
	color: rgb(242, 242, 217);
	font-family: 'Wire One', sans-serif;
}

a:hover {
	color:rgba(153, 0, 0, 0.85);
	border-bottom: solid 2px;
}

.headshot {
	background-image: url("../images/Arielle_210_EDIT_Web.jpg");
	background-repeat: no-repeat;
	background-size: 100%;

}
#main {
	clear: both;
  	height: 600px;
  	color: black;


}

#ari {
	float: left;
	color: rgb(242, 242, 217);
	font-family: 'Wire One', sans-serif;
	font-size: 35px;
	padding: 5px;
}

#name {
	display: flex;
	flex-direction: column;
	line-height: 250%;
	text-align: center;
	justify-content: center;
}

#credits {
	padding-top: 20px;
	list-style-type: none;
  	line-height: 90%;
  	letter-spacing: 10px;
  	font-family: 'Wire One', sans-serif;
  	font-size: 25px;
  	transform:scaleY(1.25);
  	color: white;
}

#e {
/*	background-color: rgba(153, 0, 0, 0.85);*/
background-color: rgba(255,165,0, 0.85);
	height: 330px;
	border-top: 2px solid orange;
}

#first {
	font-size: 100px;
	color: white;
	font-family: 'Pinyon Script', cursive;
}


#last {
	font-weight: bold;
	transform:scaleY(2);
	color: grey;
	font-size: 100px;
	opacity: .8;
	letter-spacing: 30px;
	font-family: 'Open Sans Condensed', sans-serif;
}

#welcome {
	font-family: 'Wire One', sans-serif;
	letter-spacing: 30px;
	color: white;
	font-size: 90px;
}

#about {
	font-size: 15px;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
}

#more {
	font-family: 'Wire One', sans-serif;
	background-color: grey;
	border-color: orange;
	color: orange;
	font-size: 20px;
	margin-left: 200px;
}

#bio {
	background-image: url("../images/IMG_51431.jpg");
	background-repeat: no-repeat;
	background-size: 475px;
	height: 700px;

}

#biography1 {
	font-family: 'Wire One', sans-serif;
	letter-spacing: 30px;
	color: orange;
	font-size: 90px;

}

#biography2 {
	font-weight: bold;
	transform:scaleY(2);
	color: orange;
	font-size: 80px;
	letter-spacing: 50px;
	font-family: 'Open Sans Condensed', sans-serif;
}

#gallery {
	clear:both;
	display: flex;
	justify-content: space-around;

}

.objects{
	width: 175px;
	height: 440px;
}

.object{
	width: 320px;
	height: 465px;
}

#contact {
	text-align: center;
}

#contactPage {
	height: 900px;
}

#title {
	font-family: 'Wire One', sans-serif;
	letter-spacing: 30px;
	font-size: 30px;
	
}

#submit {
	font-family: 'Wire One', sans-serif;
	background-color: black;
	border: 2px solid orange;
	color: lightyellow;
	font-size: 20px;
	margin-left: 200px;
}

#contactSection {
	
}

#footer {
	border-top: 3px solid grey;
	height: 50px;
	color: grey;
	font-family: 'Roboto', sans-serif;
}

#journalism {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#acting {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#journalism:hover {opacity: 0.7;}

#acting:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */

.exit {
	 position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.exit:hover,
.exit:focus{
	color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

#resume {
	background-color: lightgrey;
}

#resumes {
	text-align: center;
}
