 <% include ../partials/head %>
<% include ../partials/header %>

<body>
 <section id="bio">
        <div class="row">
            <div class="col">
            </div>
            <div id="short bio" class="col">
                <h1 id="biography1">Biography</h1>
                <hr>
                <p>What is up! ​ My name is Arielle and I was born and raised in Detroit, Michigan and received my Bachelor of Fine Arts in Theatre Arts from Michigan State University. (Go Green, Go White) I recently moved to Los Angeles where I am now a working actor! ​ I am an sassy, spunky, spirited and spontaneous black girl! You will most likely always see me rocking big natural hair. Curly, kinky, tamed (or not) she's got a mind of her own which is why I started my YouTube and Instagram pages entitled MissManeThang! ​ There you will see what my hair is up to new styles, hair recipes, successes and failures and the whole nine and if you have suggestions or advice please contact me.</p>
            </div>
        </div>
        <br><br><br><br><br><br><br>
        <div id="bottom" class="row">
            <div class="col">
            <h1 id="biography2">BIOGRAPHY</h1>
            </div>
        </div>
    </section>

    <% include ../partials/footer %>