 <% include ../partials/head %>
<% include ../partials/header %>

<body>
 <section id="bio">
        <div id="main" class="row justify-content-center">
            <div class="col-md-6">
            <img id="biopic" src="/images/Arielle_441_EDIT1_Web.jpg" height="auto">
            </div>
            <div id="short bio" class="col-md-6">
                <br>
                <h1 id="biography1">Biography</h1>
                <hr>
                 <p style="text-align: center" id="biography3">Hailing from Detroit, MI, Arielle Simonee began her theatrical training under the teachings of Mosaic Youth Theatre. At Michigan State University she double majored in Theatre Arts and Journalism earning her Bachelor of Fine Arts and Bachelor of Arts respectively. Upon completion of her degrees, she relocated to Los Angeles, CA where she has gained training from Dustin Felder's Acting Studio, The Actor's Studio and LA Connection Comedy Theatre. <br><br> She recently debuted in her first West Coast play 'Happily Whatever After' as Red Riding Hood. She has completed various student films and even worked with Toderick Hall in his music video 'Green'. Arielle Simonee recently signed to Numa Modeling Agency and has shot with photographers from New York and Los Angeles. She continues to gain knowledge in acting, dance, modeling and improv while creating a successful name and brand for herself. She enjoys writing and creating her own work that truly shows off the depth of characters in which she can portray. She has published many articles on the web and recently started a millenial traveling blog.</p>
            </div>
        </div>
        <br>
        <div id="bottom" class="row">
            <div class="col">
            <h1 id="biography2">BIOGRAPHY</h1>
            </div>
        </div>
        <br>
        <br>
        <br>
    </section>

    <% include ../partials/footer %>