 <% include ../partials/head %>
<% include ../partials/header %>

<body>
 <div id="contactPage" class="container">
    	<div id="contact">
    		<br>
    	 <h1 id="biography1">Contact Me</h1>
    	 <hr>
    	 <p>I'm available for local projects as well as potential employment opportunities.</p> 
    	 <p>Use the form to inquire about business collaborations, availability, or just to say what's up!</p>
    	</div>
        <hr>
        <div id="contactSection" class="row">
        	<div class="col">
        		<img src="/images/IMG_51501.jpg" height="" width="">
        	</div>
            <div id="section" class="col">
                <form role="form">
                    <div class="form-group">
                    	<h2 id="title">Name</h2>
                        <input id="person" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                    	<h2 id="title">Email</h2>
                        <input id="email" type="text" class="form-control" required>
                    </div>
                    <br>
                    <div class="form-group">
                    	<h2 id="title">Message</h2>
                        <textarea class="form-control" type="textarea" id="message" maxlength="140" rows="7" required></textarea>
                    </div>
                    <button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Submit Form</button>
                </form>
            </div>
        </div>
    </div>

    <% include ../partials/footer %>