 <% include ../partials/head %>
<% include ../partials/header %>

<body>
 <h1 id="biography1">Gallery</h1>
        <div id="gallery">
        <div class="objects">
            <img src="/images/IMG_51441.jpg" height="220" width="175">
            <br><br>
            <img src="/images/IMG_51501.jpg" height="220" width="175">
        </div>
        <div class="object">
            <img src="/images/IMG_51461.jpg" height="465" width="320">
        </div>
        <div class="objects">
            <img src="/images/IMG_51451.jpg" height="220" width="175">
            <br><br>
            <img src="/images/IMG_51431.jpg" height="220" width="175">
        </div>
        <div class="object
        ">
            <img src="/images/IMG_51481.jpg" height="465" width="320">
        </div>
    </div>

    <% include ../partials/footer %>