<% include ../partials/head %>
<% include ../partials/header %>

<body>
 <h1 id="biography1">Gallery</h1>
 <div class="container">
        <div class="row">
            <div class="column">
                <img src="/images/Arielle_125_EDIT_Web.jpg" style="width:100%" class="hover-shadow cursor top" data-index="1">
            </div>
            <div class="column">
                <img src="/images/Arielle_210_EDIT_Web.jpg" style="width:100%" class="hover-shadow cursor top" data-index="2">
            </div>
            <div class="column">
                <img src="/images/Arielle_283_EDIT1_Web.jpg" style="width:100%" class="hover-shadow cursor top" data-index="3">
            </div>
            <div class="column">
                <img src="/images/Arielle_441_EDIT1_Web.jpg" style="width:100%" class="hover-shadow cursor top" data-index="4">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="column">
                <img src="/images/Arielle_16_EDIT_Web.jpg" style="width:100%" class="hover-shadow cursor top" data-index="5">
            </div>
            <div class="column">
                <img src="/images/IMG_51461.jpg" style="width:100%" class="hover-shadow cursor top" data-index="6">
            </div>
            <div class="column">
                <img src="/images/Arielle_454_EDIT1_Web.jpg" style="width:100%" class="hover-shadow cursor top" data-index="7">
            </div>
            <div class="column">
                <img src="/images/Arielle_49_EDIT_Web.jpg" style="width:100%" class="hover-shadow cursor top" data-index="8">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="column">
                <img src="/images/IMG-5826.JPG" style="width:100%" class="hover-shadow cursor top" data-index="9">
            </div>
            <div class="column">
                <img src="/images/IMG-5827.JPG" style="width:100%" class="hover-shadow cursor top" data-index="10">
            </div>
            <div class="column">
                <img src="/images/IMG-5828.JPG" style="width:100%" class="hover-shadow cursor top" data-index="11">
            </div>
        </div>
    </div>
    <div id="myModal" class="modal">
        <span id="close" class="close cursor">&times;</span>
        <div class="modal-content">
            <div class="mySlides">
                <div class="numbertext">1 / 11</div>
                <img src="/images/Arielle_125_EDIT_Web.jpg" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">2 / 11</div>
                <img src="/images/Arielle_210_EDIT_Web.jpg" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">3 / 11</div>
                <img src="/images/Arielle_283_EDIT1_Web.jpg" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">4 / 11</div>
                <img src="/images/Arielle_441_EDIT1_Web.jpg" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">5 / 11</div>
                <img src="/images/Arielle_16_EDIT_Web.jpg" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">6 / 11</div>
                <img src="/images/IMG_51461.jpg" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">7 / 11</div>
                <img src="/images/Arielle_454_EDIT1_Web.jpg" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">8 / 11</div>
                <img src="/images/Arielle_49_EDIT_Web.jpg" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">9 / 11</div>
                <img src="/images/IMG-5826.JPG" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">10 / 11</div>
                <img src="/images/IMG-5827.JPG" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">11 / 11</div>
                <img src="/images/IMG-5828.JPG" style="width:100%">
            </div>
            <a class="prev">&#10094;</a>
            <a class="next">&#10095;</a>
            <br>
            <div class="container flex">
                <div class="column">
                    <img class="demo cursor bottom" src="/images/Arielle_125_EDIT_Web.jpg" style="width:100%" data-index="1">
                </div>
                <div class="column">
                    <img class="demo cursor bottom" src="/images/Arielle_210_EDIT_Web.jpg" style="width:100%" data-index="2">
                </div>
                <div class="column">
                    <img class="demo cursor bottom" src="/images/Arielle_283_EDIT1_Web.jpg" style="width:100%" data-index="3">
                </div>
                <div class="column">
                    <img class="demo cursor bottom" src="/images/Arielle_441_EDIT1_Web.jpg" style="width:100%" data-index="4">
                </div>
                <div class="column">
                    <img class="demo cursor bottom" src="/images/Arielle_16_EDIT_Web.jpg" style="width:100%" data-index="5">
                </div>
                <div class="column">
                    <img class="demo cursor bottom" src="/images/IMG_51461.jpg" style="width:100%" data-index="6">
                </div>
                <div class="column">
                    <img class="demo cursor bottom" src="/images/Arielle_454_EDIT1_Web.jpg" style="width:100%" data-index="7">
                </div>
                <div class="column">
                    <img class="demo cursor bottom" src="/images/Arielle_49_EDIT_Web.jpg" style="width:100%" data-index="8">
                </div>
                <div class="column">
                    <img class="demo cursor bottom" src="/images/IMG-5826.JPG" style="width:100%" data-index="9">
                </div>
                <div class="column">
                    <img class="demo cursor bottom" src="/images/IMG-5827.JPG" style="width:100%" data-index="10">
                </div>
                <div class="column">
                    <img class="demo cursor bottom" src="/images/IMG-5828.JPG" style="width:100%" data-index="11">
                </div>
            </div>
            <br>

        </div>
    </div>

<% include ../partials/footer %>