<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arielle Simonee</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:Roboto|Wire+One|Italianno|300,300i,700|Pinyon+Script" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/contact.js"></script>
    <script src="/js/gallery.js"></script>
</head>

<body>
    <header style="border-bottom: white solid 2px" id="main-menu">
        <ul class="nav justify-content-center">
                        <li>
                <a href="https://www.twitter.com/arielle7simone">
                <img src="images/if_twitter_252077.svg" height="25px" width="25px">
                </a>
            </li>
            <li style="padding-left: 10px">
                <a href="https://www.instagram.com/arielle.simonee">
                <img src="images/if_Instagram_345416.svg" height="40px" width="40px">
                </a>
            </li>
            <li id="navitem" class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/biography">Biography</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/resume">Resume</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/gallery">Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/contact">Contact</a>
            </li>
        </ul>
    </header>
    <div class=headshot>
        <div id="main" class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-6">
                <br>
                <br>
                <br>
                <h1 id="welcome">Arielle Simonee</h1>
                <ul id="credits">
                    <br>
                    <li>ACTOR,</li>
                    <li>MODEL, &</li>
                    <li>JOURNALIST</li>
                </ul>
            </div>
            <div class="col-sm-2">
                <!--                 <p id="last">Arielle Simonee</p> -->
                <img class="bottom" src="images/Arielle_210_EDIT_Web.jpg" style="border-left: white solid 2px" height="650px" width=auto>
            </div>
        </div>
    </div>
    <br>
</body>

</html>