 <% include ../partials/head %>
<% include ../partials/header %>

<body>
<div class="contatiner">
	<br>
	<div class=row>
		<div class="col-md-6">
			<img id="resumepic" src='/images/IMG-5827.JPG' alt='Acting Resume' height="auto">
		</div>
		<div id="resume" class="col-md-6">
			<h1 id="biography1">Resume</h1>
			<hr>
			<p>Projects, Work and Trainings I've completed.</p>
			<p>Height: 5'9</p>
			<p>Hair: Dark Brown</p>
			<p>Vocal: Alto</p>
			<br>
			<p>Location: Los Angeles, CA</p>
		</div>
	</div>

	<div id="resumes" class=row">

  		<img id="acting" src='/images/acting.jpg' alt='Acting Resume'  width='300' height"500">

   		<img id="journalism" src='/images/journalism.jpg' alt='Journalism Resume'  width='300' height"500">

		<div id="myModal1" class="modal">
  			<span class="close">&times;</span>
  			<img class="modal-content" id="img01">
  			<div id="caption1"></div>
		</div>

		<div id="myModal2" class="modal">
  			<span class="exit">&times;</span>
  			<img class="modal-content" id="img02">
  			<div id="caption2"></div>
		</div>
	</div>

</div>
<br><br><br>
<% include ../partials/footer %>